@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

h1{
  font-family: 'Times New Roman', Times, serif;
}

.swiper-pagination-bullet-active {
   background-color: #B76E79;   
}


.text-primary{
  color: #B76E79;
}

.bg-primary{
  background-color: #B76E79 ;
}

.bg-secondary{
  background-color: #E8B4B8;
}


.logo-shadow{
  box-shadow: 0 0px 60px 2px rgba(0, 0, 0, 0.724);
}

.addToCartAnimation {
   animation: CartAnimation 1s ease-in-out;
   top: 50%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes CartAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 40px;
  }
   60%{
    padding: 10px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}

.addToWsihlistAnimation {
   animation: wishlistAnimation 1s ease-in-out;
   top: 50%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes wishlistAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 60px;
  }
   60%{
    padding: 10px;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 8%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
}


@media (max-width: 640px) {

  .addToCartAnimation {
   animation: CartAnimation 1s ease-in-out;
   top: 0%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes CartAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 30px;
  }
   60%{
    padding: 10px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 94%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

.addToWsihlistAnimation {
   animation: wishlistAnimation 1s ease-in-out;
   top: 50%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes wishlistAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 60px;
  }
   60%{
    padding: 10px;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 94%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
}
 
}



@media (min-width: 640px) and (max-width: 768px) {

  .addToCartAnimation {
   animation: CartAnimation 1s ease-in-out;
   top: 50%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes CartAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 30px;
  }
   60%{
    padding: 10px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 8%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
}

.addToWsihlistAnimation {
   animation: wishlistAnimation 1s ease-in-out;
   top: 50%;
   font-size: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes wishlistAnimation {
  0%{
   padding: 0px;
   font-size: 0px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  30%{
    padding: 10px;
    font-size: 60px;
  }
   60%{
    padding: 10px;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100%{
    padding: 0px;
    font-size: 0px;
    top: 8%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
 
}

.icon-gradient {
  background: linear-gradient(135deg, #B76E79, #8B5CF6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B76E79;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Hover pe dikhe */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Ya phir body hover pe */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}


@media (min-width: 638px) {

  .login-entry {
    animation:loginEntry .3s ease-in;
    height: 420px;
    overflow: hidden;
}

@keyframes  loginEntry{
  0%{
    height: 0px;
    top: 0%;
  }
  50%{
    height: 420px;
    top: 55%;
  }
  70%{
    height: 420px;
    top: 45%;
  }
  100%{
    height: 420px;
    top:50%;
  }
}
}


@media (max-width: 637px) {

  .login-entry {
    animation:loginEntry .4s ease-in;
    height: 500px;
    overflow: hidden;
}

@keyframes  loginEntry{
  0%{
    height: 0px;
  }
  50%{
    height: 480px;
  }
  60%{
    height: 420px;
  }
  100%{
    height: 500px;
  }
}
}

@media (min-width: 638px) {

.signup-entry {
    animation:signupEntry .3s ease-in;
    height: 535px;
    overflow: hidden;
}

@keyframes  signupEntry{
  0%{
    height: 0px;
    top: 20%;
  }
  50%{
    height:535px;
    top: 55%;
  }
  70%{
    height: 535px;
    top: 45%;
  }
  100%{
    height: 535px;
    top: 50%;
  }
}

}


@media (max-width: 637px) {

.signup-entry {
    animation:signupEntry .4s ease-in;
    height: 535px;
    overflow: hidden;
}

@keyframes  signupEntry{
  0%{
    height: 0px;
  }
  50%{
    height:565px;
  }
  60%{
    height: 505px;
  }
  100%{
    height: 535px;
  }
}

}